{% extends 'base.html.twig' %}

{% block title %}Hello FirstController!{% endblock %}

{% block body %}


    <h1> bonjour monsieu {{ nom }} {{ prenom }} </h1>


{% block footer %}

       <p>ceci est un footer de la première page que j'ai crée </p>

{% endblock %}

           <p>ceci est un footer de la première page que j'ai crée </p>

           
          


{% endblock %}
